/* defaults */

body
{
}

/* defaults */

/* signin section */

div#signin_container
{
	margin: 64px auto;
	width: 30%;
}

div#signin_container h2
{
	text-align: center;
}

div#signin_container input, div.alert
{
	margin: 1em 0em;
}

/* signin section */

/* left sidebar (menus) */

div#sidebar
{
	width: 80px;
	height: 100%;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #181F24;	
}

ul#menu
{
	list-style-type: none;
	padding-left: 0px;
	background-color: #232c32;
}

ul#menu li a
{
	border-left: 3px solid #232c32;		
	display: block;
	color: #eee;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	display: block;
	width: 80px;
	height: 40px;
	overflow: hidden;	
	position: relative;
}

ul#menu li a:hover
{
	background-color: #2c3942;	
	border-left: 3px solid #d19b3d;	
	
}

ul#menu li a div
{
	display: block;
	width: 77px;
	height: 80px;
	position: absolute;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;	
	top: 0px;	
}

ul#menu li a:hover div
{	
	top: -40px;	
	background-color: #4f5b69;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;  	
}

ul#menu li a div i
{
	display: block !important;
	margin-top: 8px;	
	margin-bottom: 20px;
}

/* left sidebar (menus) */

/* main block */

div#content
{
	background: #F2F4F8;
	margin-left: 80px;
}

div.content_with_player
{
	margin-right: 300px;	
}

form#f_search
{
	margin: 16px;
}

div#content h1, div#content h2
{
	margin: 16px;
}

div#albums, div#artists
{
}

/* album item */

div.album_item
{
	width: 174px;
	float: left;
	margin: 0px 24px;
	margin-bottom: 16px;
}

div.album_item a.play_album
{
	width: 174px;
	height: 174px;
	display: block;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

div.album_item a.play_album:hover
{
	/* opacity: 0.90; */
}

div.album_item a.play_album img.no_cover
{
	display: block !important;
}

div.album_item a.play_album img.album_cover, div.album_item a img.vynil
{
	width: 174px;
	height: 174px;
	border: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;	
}

/* album cover effect (hover -> move to left) */
div.album_item a.play_album img.album_cover
{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;	
}

div.album_item a.play_album:hover img.album_cover
{
	left: -80px;
}

/* album (internal) disc effect (hover -> rotate) */
div.album_item a.play_album img.vynil
{
	z-index: 0;
	display: none;
	width: 174px;
	height: 174px;		
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;		
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;	
}

div.album_item a.play_album:hover img.vynil
{
	z-index: 0;
	display: block;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg); 
	-o-transform:rotate(360deg);
}

/* play icon (hover cover) */
div.album_item a.play_album i
{
	display: none;
	position: absolute;
	top: 60px;
	left: 72px;
	z-index: 2;
	color: #ccc;
}

div.album_item a.play_album:hover i
{
	display: block;
}

/* artist / album name (below cover) */
div.album_item div.album_info
{
	padding: 8px;
	overflow: hidden;
}

div.album_item div.album_info p
{
	margin: 0px;
	font-size: 13px;
	font-family: Tahoma;
	width: 100%;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.album_item div.album_info p.artist_name a
{
	color: #545a5f;
}

div.album_item div.album_info p.album_name
{
	color: #939aa0;
}

/* album item */

/* artist item */

div.artist_item
{
	width: 128px;
	float: left;
	margin: 0px 24px;
	margin-bottom: 16px;
}

div.artist_item a
{
	width: 128x;
	height: 128px;
	display: block;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

div.artist_item a.artist_pager
{
	background: #fff;
}

div.artist_item a img
{
	width: 128px;
	height: 128px;
	border: 0px;
	z-index: 0;
}

div.artist_item a:hover img
{
	opacity: 0.5;
}

div.artist_item a i
{
	display: none;
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 1;
	color: #4F5B69
}

div.artist_item a.artist_pager i
{
	display: block;
	top: 34px;
	left: 38px;	
}

div.artist_item a:hover i
{
	display: block;
	opacity: 0.8;
}

div.artist_item div.artist_info
{
	padding: 4px;
	overflow: hidden;
}

div.artist_item div.artist_info p.artist_name
{
	margin: 0px;
	font-size: 13px;
	font-family: Tahoma;
	width: 100%;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	color: #545a5f;
	text-overflow: ellipsis;	
}

/* artist item */

ol#dashboard_most_played_tracks li, ul#dashboard_recently_added_tracks li, ul#dashboard_random_tracks li
{
	font-family: Tahoma;
}

ol#dashboard_most_played_tracks li a, ul#dashboard_recently_added_tracks li a, ul#dashboard_random_tracks li a
{
	font-size: 13px;
	color: #545a5f;
	font-weight: bold;	
}

ol#dashboard_most_played_tracks li p a, ul#dashboard_recently_added_tracks li p a, ul#dashboard_random_tracks li p a
{
	font-size: 12px;
	font-weight: normal;	
	color: #495563;
}


/* artist section */

div#artist_view
{
	padding: 32px;
}

h1#artist_name
{
	
}

img#artist_image
{
	float: left;
}

div#artist_info
{
	float: left;
	width: 40%;
}

div#artist_bio
{
	margin: 0px 12px;
}

p#artist_tags
{
	margin: 8px 12px;
}

p#artist_tags a
{
	margin: 0px 2px;
}

/* artist section */

/* main block */

/* player & playlist  */

div#player
{
	width: 300px;
	height: 100%;
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: #181F24;		
}

div#player p#now_playing_header
{
	width: 100%;
	text-align: center;	
	color: #9b9c9f;
	font-size: 10px;
	margin: 0px;
	padding: 4px 0px;
	background-color: #16171b;
	z-index: 1;
	opacity: 0.72;
}

div#player img
{
	display: block;
	width: 300px;
	height: 300px;
	margin-top: -20px;
}

div#player div#now_playing_info
{
	background-color: #16171b;
	opacity: 0.72;
	width: 300px;
	overflow: hidden;
	padding: 5px;
	margin-top: -52px;
}

div#player div#now_playing_info span#now_playing_song_title
{
	float: left;
	display: block;
	width: 204px;
	color: #f6f8f8;
	font-size: 15px;
	overflow: hidden;
    white-space: nowrap;
	
}

div#player div#now_playing_info span#now_playing_song_time
{
	float: right;
	display: block;
	width: 84px;
	color: #9b9c9f;
	font-size: 15px;
	overflow: hidden;
	text-align: right;
}

div#player div#now_playing_info span#now_playing_artist
{
	clear: both;
	color: #9b9c9f;
	font-size: 14px;
	display: block;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
}

div#player audio#audio
{
	padding-top: 8px;
}

div#player div#player_controls
{
  padding: 4px;
}

div#player div#player_controls i
{
  cursor: pointer;
  margin: 0px 4px;
  color: #4F5B69;  
}

div#player ul#now_playing_list
{
  background: #181F24;
  width: 300px;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

div#player ul#now_playing_list li
{
	clear: both;  
	overflow: hidden;
}

div#player ul#now_playing_list li a
{
  
	border-left: 3px solid #232c32;		
	display: block;
	color: #9b9c9f;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	display: block;
	width: 300px;
	font-size: 13px;
	height: 26px;
	padding: 4px;
  	border-bottom: 1px solid #434E5A;
	cursor: pointer;  
}

div#player ul#now_playing_list li a.selected
{
  background: #232c32;
  border-left: 3px solid #d19b3d;
}

div#player ul#now_playing_list li a:hover
{
  background-color: #4f5b69;
  border-left: 3px solid #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;  
}

div#player ul#now_playing_list li a.selected:hover
{
  background-color: #4f5b69;
  border-left: 3px solid #d19b3d;
}


div#player ul#now_playing_list li a span.title
{
  float: left;
  display: block;
  width: 246px;  
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

div#player ul#now_playing_list li a span.duration
{
  float: right;
  width: 40px;
  overflow: hidden;
  white-space: nowrap;
}

/* player & playlist  */
