.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-hover {
  text-decoration: none !important;
}

.text-decoration-hover:hover {
  text-decoration: underline !important;
}

.white-space-pre-line {
  white-space: pre-line;
}

.transparent-background {
  background: transparent !important;
}

.cursor-default {
  cursor: default !important;
}

.min-width-7em {
  min-width: 7em;
}

.min-width-8em {
  min-width: 8em;
}

.min-width-9em {
  min-width: 9em;
}

.min-width-12em {
  min-width: 12em;
}
