<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>spieldose - music for the masses</title>
		<meta name="referrer" content="no-referrer" />
		<meta name="author" content="alex (https://github.com/aportela)">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/styles/spieldose.css">
	</head>
	<body>
		<div class="columns is-gapless">
			<aside id="aside-menu" class="column is-1 hero is-fullheight is-hidden-mobile">
				<div>
					<div class="main">
						<ul id="menu">
							<li><a class="item active" id="menu_link_dashboard" href="#/dashboard"><div><i class="fa fa-2x fa-home"></i>dashboard</div></a></li>
							<li><a class="item" id="menu_link_browse_artists" href="#/artists" data-offset="0"><div><i class="fa fa-2x fa-user"></i>browse artists</div></a></li>
							<li><a class="item" id="menu_link_browse_albums" href="#/albums"><div><i class="fa fa-2x fa-file-audio-o"></i>browse albums</div></a></li>
							<li><a class="item" id="menu_link_browse_genres" href="#/genres"><div><i class="fa fa-2x fa-tags"></i>browse genres</div></a></li>
							<li><a class="item" href="#/prefs" class="disabled_link"><div><i class="fa fa-2x fa-cog"></i>preferences</div></a></li>
							<li><a class="item" id="menu_link_signout" href="api/user/signout.php"><div><i class="fa fa-2x fa-sign-out"></i>signout</div></a></li>
						</ul>
					</div>
				</div>
			</aside>
			<div class="column is-9" id="main-content">
			</div>
			<aside id="aside-player" class="column is-2">
				<div id="player">
					<p id="now_playing_header">NOW PLAYING</p>
					<img id="now_playing_image" src="https://lastfm-img2.akamaized.net/i/u/174s/430e04c30d9b4a70aab49a941e27fa4a.png" />
					<div id="now_playing_info">
						<span id="now_playing_song_title" title="Nightcall">Nightcall</span>
						<span id="now_playing_song_time">4:20</span>
						<span id="now_playing_artist" title="Kavinsky & Lovefoxxx">Kavinsky & Lovefoxxx</span>
					</div>
					<audio id="audio" controls preload="none">
						<source src="http://c.mimp3.eu/d/wNxkzNxkTM/nightcall.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
					</audio>
					<div id="player_controls">
						<i title="repeat all" class="fa fa-refresh fa-lg"></i>
						<i title="shuffle" class="fa fa-random fa-lg"></i>
						<i id="crtl_play_previous" title="previous" class="fa fa-backward fa-lg"></i>
						<i id="crtl_play_next" title="next" class="fa fa-forward fa-lg"></i>
						<i title="mark as loved song" class="fa fa-heart fa-lg"></i>
						<i title="download song" class="fa fa-save fa-lg"></i>
					</div>
					<ul id="now_playing_list">
						<li class="selected"><a class="playlist_track"><span title="Nightcall">01 - Nightcall</span><span class="duration">4:20</span></a></li>
						<li><a class="playlist_track"><span title="Under Your Spell">02 - Under Your Spell</span><span class="duration">3:53</span></a></li>
						<li><a class="playlist_track"><span title="A Real Hero">03 - A Real Hero</span><span class="duration">3:53</span></a></li>
						<li><a class="playlist_track"><span title="Oh My Love ">04 - Oh My Love </span><span class="duration">2:50</span></a></li>
						<li><a class="playlist_track"><span title="Tick of the Clock">05 - Tick of the Clock</span><span class="duration">4:48</span></a></li>
						<li><a class="playlist_track"><span title="I Drive">07 - I Drive</span><span class="duration">2:04</span></a></li>
						<li><a class="playlist_track"><span title="He Had a Good Time">08 - He Had a Good Time</span><span class="duration">1:37</span></a></li>
						<li><a class="playlist_track"><span title="They Broke His Pelvis">09 - They Broke His Pelvis</span><span class="duration">1:58</span></a></li>
						<li><a class="playlist_track"><span title="Kick Your Teeth">10 - Kick Your Teeth</span><span class="duration">2:40</span></a></li>
						<li><a class="playlist_track"><span title="Where's the Deluxe Version?">11 - Where's the Deluxe Version?</span><span class="duration">5:33</span></a></li>
						<li><a class="playlist_track"><span title="See You in Four">12 - See You in Four</span><span class="duration">2:38</span></a></li>
						<li><a class="playlist_track"><span title="After the Chase">13 - After the Chase</span><span class="duration">5:26</span></a></li>
						<li><a class="playlist_track"><span title="Hammer">14 - Hammer</span><span class="duration">4:44</span></a></li>
						<li><a class="playlist_track"><span title="Wrong Floor">15 - Wrong Floor</span><span class="duration">1:31</span></a></li>
						<li><a class="playlist_track"><span title="Skull Crushing">16 - Skull Crushing</span><span class="duration">5:58</span></a></li>
						<li><a class="playlist_track"><span title="My Name on a Car">17 - My Name on a Car</span><span class="duration">2:19</span></a></li>
						<li><a class="playlist_track"><span title="On the Beach">18 -On the Beach</span><span class="duration">6:35</span></a></li>
						<li><a class="playlist_track"><span title="Bride of Deluxe">19 - Bride of Deluxe</span><span class="duration">3:57</span></a></li>
					</ul>
				</div>
			</aside>
		</div>
		<!-- template credits: daniel (https://github.com/dansup) -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="/static/scripts/spieldose.js"></script>
	</body>
</html>