{% extends "skeleton.html.twig" %}

{% block title %}Spieldose{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/app.css">
{% endblock %}

{% block body %}
<div id="app">
    <spieldose-app-component></spieldose-app-component>
    <spieldose-modal-component></spieldose-modal-component>
    <!--
    <form id="frm_signout" method="get" action="/api/user/signout" v-on:submit="signout">
        <button type="submit" class="button">logout</a>
    </form>
    -->
</div>
{% endblock %}

{% block scripts %}
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    -->
    <script src="/scripts/vendor/moment.min.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    -->
    <script src="/scripts/vendor/Chart.min.js"></script>
    <script src="/scripts/vendor/visualizer.js"></script>
    <script src="/scripts/vue-components/menu.js"></script>
    <script src="/scripts/vue-components/container.js"></script>
    <script src="/scripts/vue-components/search.js"></script>
    <script src="/scripts/vue-components/search-results.js"></script>
    <script src="/scripts/vue-components/dashboard.js"></script>
    <script src="/scripts/vue-components/dashboard-toplist.js"></script>
    <script src="/scripts/vue-components/dashboard-recent.js"></script>
    <script src="/scripts/vue-components/pagination.js"></script>
    <script src="/scripts/vue-components/browse-artists.js"></script>
    <script src="/scripts/vue-components/browse-artist.js"></script>
    <script src="/scripts/vue-components/browse-albums.js"></script>
    <script src="/scripts/vue-components/browse-genres.js"></script>
    <script src="/scripts/vue-components/preferences.js"></script>
    <script src="/scripts/vue-components/player.js"></script>
    <script src="/scripts/app.js"></script>
{% endblock %}