{% extends "skeleton.html.twig" %}

{% block title %}Spieldose{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/app.css">
{% endblock %}

{% block body %}
<div id="app">
    <spieldose-modal-component></spieldose-modal-component>
    <form id="frm_signout" method="get" action="/api/user/signout" v-on:submit="signout">
        <button type="submit" class="button">logout</a>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {% verbatim %}
    {% endverbatim %}
<script src="/scripts/app.js"></script>
{% endblock %}