<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- prevent favicon request (https://stackoverflow.com/a/13416784) -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title>Spieldose</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <link rel="stylesheet" href="styles/vendor/bulma-0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="styles/vendor/bulma-0.6.1/css/bulma.css" integrity="sha256-lUssH++umYLC/97WXqr424ew3ing8e+dATTAmMpCF40=" crossorigin="anonymous" />
            {% endif %}
        {% else %}
            {% if settings.production %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css" integrity="sha256-lUssH++umYLC/97WXqr424ew3ing8e+dATTAmMpCF40=" crossorigin="anonymous" />
            {% endif %}
        {% endif %}
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <div id="app">
            <transition name="fade">
                <!-- component matched by the route will render here -->
                <router-view></router-view>
            </transition>
        </div>

        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <script src="scripts/vendor/vue-2.5.3/vue.min.js" integrity="sha256-nAf3juAvyNkyQ17QrPxyArUX5HVce401EpmGfiFXyvk=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/vue-router-3.0.1/vue-router.min.js" integrity="sha256-yEB9jUlD51i5kxJZlzgzfR6XmVKI76Nl1WRA1aqIilU=" crossorigin="anonymous"></script>
            {% else %}
        <script src="scripts/vendor/vue-2.5.3/vue.js" integrity="sha256-C6USxZcxxFo9Wm1p3PFcYgEVpHQqRegQ0dgGc8rlR4o=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/vue-router-3.0.1/vue-router.js" integrity="sha256-POlBNmX1CMDkfPMqbFqOxE8fGJyTT7tcwch5tvXZqVs=" crossorigin="anonymous"></script>
            {% endif %}
        {% else %}
            {% if settings.production %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js" integrity="sha256-nAf3juAvyNkyQ17QrPxyArUX5HVce401EpmGfiFXyvk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js" integrity="sha256-yEB9jUlD51i5kxJZlzgzfR6XmVKI76Nl1WRA1aqIilU=" crossorigin="anonymous"></script>
            {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js" integrity="sha256-C6USxZcxxFo9Wm1p3PFcYgEVpHQqRegQ0dgGc8rlR4o=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js" integrity="sha256-POlBNmX1CMDkfPMqbFqOxE8fGJyTT7tcwch5tvXZqVs=" crossorigin="anonymous"></script>
            {% endif %}
        {% endif %}

        <script src="scripts/xhrHelper.js"></script>
        <script src="scripts/vue-components/modal.js"></script>

        <!-- signin section -->
        <script src="scripts/vue-components/signin.js"></script>
        <!-- signin section -->

        <!-- app section -->
        <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
        -->
        <script src="scripts/vendor/moment.min.js"></script>
        <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        -->
        <script src="scripts/vendor/Chart.min.js"></script>
        <script src="scripts/vendor/visualizer.js"></script>
        <script src="scripts/vue-components/menu.js"></script>
        <script src="scripts/vue-components/container.js"></script>
        <script src="scripts/vue-components/debug.js"></script>
        <script src="scripts/vue-components/search.js"></script>
        <script src="scripts/vue-components/search-results.js"></script>
        <script src="scripts/vue-components/dashboard.js"></script>
        <script src="scripts/vue-components/dashboard-toplist.js"></script>
        <script src="scripts/vue-components/dashboard-recent.js"></script>
        <script src="scripts/vue-components/pagination.js"></script>
        <script src="scripts/vue-components/playlists.js"></script>
        <script src="scripts/vue-components/browse-artists.js"></script>
        <script src="scripts/vue-components/browse-artist.js"></script>
        <script src="scripts/vue-components/browse-albums.js"></script>
        <script src="scripts/vue-components/browse-genres.js"></script>
        <script src="scripts/vue-components/preferences.js"></script>
        <script src="scripts/vue-components/player.js"></script>
        <script src="scripts/app.js"></script>
        <!-- app section -->
    </body>
</html>
