<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
            Icon credits: Vlademareous (https://vlademareous.deviantart.com/)
            https://www.iconfinder.com/iconsets/4-music-icons
        -->
        <link rel="shortcut icon" href="icons/favicon.ico">
        <link rel="icon" type="image/png" href="icons/icon-32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="icons/icon-64.png" sizes="64x64">
        <link rel="icon" type="image/png" href="icons/icon-128.png" sizes="128x128">
        <title>Spieldose</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <link rel="stylesheet" href="vendor/bulma-0.7.1/css/bulma.min.css" integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q=" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="vendor/bulma-0.7.1/css/bulma.css" integrity="sha256-zKA1Bf41O96+gJSlkn/Bh2HATW/OhwkApPlYTp3B5O8=" crossorigin="anonymous" />
            {% endif %}
        {% else %}
            {% if settings.production %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q=" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" integrity="sha256-zKA1Bf41O96+gJSlkn/Bh2HATW/OhwkApPlYTp3B5O8=" crossorigin="anonymous" />
            {% endif %}
        {% endif %}
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <div id="app">
            <transition name="fade">
                <!-- component matched by the route will render here -->
                <router-view></router-view>
            </transition>
        </div>

        <script type="text/javascript">
            window.__INITIAL_STATE__ = '{{ initialState | raw }}';
            let initialState = JSON.parse(window.__INITIAL_STATE__);
        </script>

        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <script src="vendor/vue-2.5.16/vue.min.js" integrity="sha256-TaLceMwjWRqe4yhbqPOJH6V7UGt5AvvdNfpaIXJWbFU=" crossorigin="anonymous"></script>
        <script src="vendor/vue-router-3.0.1/vue-router.min.js" integrity="sha256-yEB9jUlD51i5kxJZlzgzfR6XmVKI76Nl1WRA1aqIilU=" crossorigin="anonymous"></script>
        <script src="vendor/vue-resource-1.5.0/vue-resource.min.js" integrity="sha256-SKdOGI9oIPdHcwjFQg+eCwBdIWFjxiNhWFlU9Gt0o18=" crossorigin="anonymous"></script>
        <script src="vendor/moment.js-2.22.1/moment.min.js" integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o=" crossorigin="anonymous"></script>
        <script src="vendor/chartjs-2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>
            {% else %}
        <script src="vendor/vue-2.5.16/vue.js" integrity="sha256-CMMTrj5gGwOAXBeFi7kNokqowkzbeL8ydAJy39ewjkQ=" crossorigin="anonymous"></script>
        <script src="vendor/vue-router-3.0.1/vue-router.js" integrity="sha256-POlBNmX1CMDkfPMqbFqOxE8fGJyTT7tcwch5tvXZqVs=" crossorigin="anonymous"></script>
        <script src="vendor/vue-resource-1.5.0/vue-resource.js" integrity="sha256-u+SbylOw7agiJqR0wFh8jQaFitiVWar14uiyiOOBVNc=" crossorigin="anonymous"></script>
        <script src="vendor/moment.js-2.22.1/moment.js" integrity="sha256-Z1d5nX6+IwGjjkkYg+fWe/jzvJae4NYejTz7PcIumxE=" crossorigin="anonymous"></script>
        <script src="vendor/chartjs-2.7.2/Chart.js" crossorigin="anonymous"></script>
            {% endif %}
        {% else %}
            {% if settings.production %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js" integrity="sha256-TaLceMwjWRqe4yhbqPOJH6V7UGt5AvvdNfpaIXJWbFU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js" integrity="sha256-yEB9jUlD51i5kxJZlzgzfR6XmVKI76Nl1WRA1aqIilU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.min.js" integrity="sha256-SKdOGI9oIPdHcwjFQg+eCwBdIWFjxiNhWFlU9Gt0o18=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>

            {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js" integrity="sha256-CMMTrj5gGwOAXBeFi7kNokqowkzbeL8ydAJy39ewjkQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js" integrity="sha256-POlBNmX1CMDkfPMqbFqOxE8fGJyTT7tcwch5tvXZqVs=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.js" integrity="sha256-u+SbylOw7agiJqR0wFh8jQaFitiVWar14uiyiOOBVNc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js" integrity="sha256-Z1d5nX6+IwGjjkkYg+fWe/jzvJae4NYejTz7PcIumxE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" integrity="sha256-J2sc79NPV/osLcIpzL3K8uJyAD7T5gaEFKlLDM18oxY=" crossorigin="anonymous"></script>
            {% endif %}
        {% endif %}

        <!-- signin section -->
        <script src="scripts/vue-components/signin.js"></script>
        <!-- signin section -->

        <!-- app section -->
        <script src="vendor/visualizer.js"></script>
        <script src="scripts/vue-components/upgrade.js"></script>
        <script src="scripts/vue-components/menu.js"></script>
        <script src="scripts/vue-components/container.js"></script>
        <script src="scripts/vue-components/api-error.js"></script>
        <script src="scripts/vue-components/search.js"></script>
        <script src="scripts/vue-components/dashboard.js"></script>
        <script src="scripts/vue-components/dashboard-toplist.js"></script>
        <script src="scripts/vue-components/dashboard-recent.js"></script>
        <script src="scripts/vue-components/dashboard-play-stats.js"></script>
        <script src="scripts/vue-components/pagination.js"></script>
        <script src="scripts/vue-components/playlists.js"></script>
        <script src="scripts/vue-components/browse-artists.js"></script>
        <script src="scripts/vue-components/browse-artist.js"></script>
        <script src="scripts/vue-components/browse-albums.js"></script>
        <script src="scripts/vue-components/browse-paths.js"></script>
        <script src="scripts/vue-components/browse-playlists.js"></script>
        <script src="scripts/vue-components/player.js"></script>
        <script src="scripts/api.js"></script>
        <script src="scripts/app.js"></script>
        <!-- app section -->
    </body>
</html>
