<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
            Icon credits: Vlademareous (https://vlademareous.deviantart.com/)
            https://www.iconfinder.com/iconsets/4-music-icons
        -->
        <link rel="shortcut icon" href="icons/favicon.ico">
        <link rel="icon" type="image/png" href="icons/icon-32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="icons/icon-64.png" sizes="64x64">
        <link rel="icon" type="image/png" href="icons/icon-128.png" sizes="128x128">
        <title>Spieldose</title>
        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <link rel="stylesheet" href="vendor/bulma-0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="vendor/bulma-0.9.1/css/bulma.css" integrity="sha512-6eqPOYQmUqGh2hFSAKha1dbQlMq1OaxityCVG80dkvGmmLdsAdrAUkgBKDV4fpAT/xOUdkB6uupudSbCwyoJPQ==" crossorigin="anonymous" />
            {% endif %}
        {% else %}
            {% if settings.production %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.css" integrity="sha512-6eqPOYQmUqGh2hFSAKha1dbQlMq1OaxityCVG80dkvGmmLdsAdrAUkgBKDV4fpAT/xOUdkB6uupudSbCwyoJPQ==" crossorigin="anonymous" />
            {% endif %}
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <div id="app">
            <transition name="fade">
                <!-- component matched by the route will render here -->
                <router-view></router-view>
            </transition>
        </div>

        <script type="text/javascript">
            window.__INITIAL_STATE__ = '{{ initialState | raw }}';
            let initialState = JSON.parse(window.__INITIAL_STATE__);
        </script>

        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <script src="vendor/vue-2.6.10/vue.min.js"></script>
        <script src="vendor/vue-router-3.1.1/vue-router.min.js"></script>
        <script src="vendor/vue-resource-1.5.1/vue-resource.min.js"></script>
        <script src="vendor/vue-i18n-8.12.0/vue-i18n.min.js"></script>
        <script src="vendor/chartjs-2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
            {% else %}
        <script src="vendor/vue-2.6.10/vue.js"></script>
        <script src="vendor/vue-router-3.1.1/vue-router.js"></script>
        <script src="vendor/vue-resource-1.5.1/vue-resource.js"></script>
        <script src="vendor/vue-i18n-8.12.0/vue-i18n.js"></script>
        <script src="vendor/chartjs-2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
            {% endif %}
        <script src="vendor/dayjs-1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
        {% else %}
            {% if settings.production %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.1/vue-router.min.js" integrity="sha256-k1wdlx4sR+jzWoZ05XEH18784zGJf/gcyazonqbPxRQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js" integrity="sha256-e9WxLR4DOP5XKMT4mflXVovZS4mVdiMkAFSDHF+6q80=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.12.0/vue-i18n.min.js" integrity="sha256-h+arpL0lvkGWrX8mmmLegjJCq+EF31OPIY1ObiaPdM4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
            {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js" integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.1/vue-router.js" integrity="sha256-9aqv4DiKSP96V8YF42zUAUNC5JJ0KRDN1Zii2EfKGVE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js" integrity="sha256-65r7bET363amdMrrizpE4H+N9OWh/aDrLWq2UWoqxlg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.12.0/vue-i18n.js" integrity="sha256-r4VGwb1k8QS7YCkvOfrZ6fTBdbdMz0jZHizfhMyrUGU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
            {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
        {% endif %}

        <script src="vendor/visualizer.js"></script>
        <script src="scripts/validator.js"></script>
        <script src="scripts/playerData.js"></script>
        <script src="scripts/mixins.js"></script>
        <script src="scripts/vue-components/upgrade.js"></script>
        <script src="scripts/vue-components/signin.js"></script>
        <script src="scripts/vue-components/menu.js"></script>
        <script src="scripts/vue-components/container.js"></script>
        <script src="scripts/vue-components/player-navbar.js"></script>
        <script src="scripts/vue-components/api-error.js"></script>
        <script src="scripts/vue-components/input-typeahead.js"></script>
        <script src="scripts/vue-components/search.js"></script>
        <script src="scripts/vue-components/dashboard.js"></script>
        <script src="scripts/vue-components/dashboard-toplist.js"></script>
        <script src="scripts/vue-components/dashboard-recent.js"></script>
        <script src="scripts/vue-components/dashboard-play-stats.js"></script>
        <script src="scripts/vue-components/pagination.js"></script>
        <script src="scripts/vue-components/playlists.js"></script>
        <script src="scripts/vue-components/browse-artists.js"></script>
        <script src="scripts/vue-components/browse-artist.js"></script>
        <script src="scripts/vue-components/browse-albums.js"></script>
        <script src="scripts/vue-components/browse-paths.js"></script>
        <script src="scripts/vue-components/delete-confirmation-modal.js"></script>
        <script src="scripts/vue-components/browse-playlists.js"></script>
        <script src="scripts/vue-components/browse-radio-stations.js"></script>
        <script src="scripts/vue-components/player.js"></script>
        <script src="scripts/api.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/locale/{{ locale }}.js"></script>
        <script src="scripts/i18n.js"></script>
        <script src="scripts/app.js"></script>

    </body>
</html>
