{% extends "skeleton.html.twig" %}

{% block title %}Spieldose - Login{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/login.css">
{% endblock %}

{% block body %}
<div id="app">
    <spieldose-signin-component></spieldose-signin-component>
    <spieldose-modal-component></spieldose-modal-component>
</div>
{% endblock %}

{% block scripts %}
<script src="/scripts/vue-components/signin.js"></script>
<script src="/scripts/vendor/visualizer.js"></script>
<script src="/scripts/login.js"></script>
{% endblock %}