<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>spieldose - music for the masses</title>
		<meta name="referrer" content="no-referrer" />
		<meta name="author" content="alex (https://github.com/aportela)">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/styles/spieldose.css">
	</head>
	<body>
        <div id="app">
            <signin-component v-if="! logged"></signin-component>
            <spieldose-component v-if="logged"></spieldose-component>
            <modal-component></modal-component>
        </div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@2.3.3"></script>
        <script type="text/x-template" id="modal-template">
            <div class="modal" v-bind:class="{ 'is-active': visible }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ title }}</p>
                    <button class="delete" v-on:click="hide"></button>
                </header>
                <section class="modal-card-body">
                    {{ body }}
                </section>
                <footer class="modal-card-foot">
                    <a class="button">Close</a>
                </footer>
            </div>
            </div>
        </script>
        <script type="text/x-template"id="signin-template">
            <!-- template credits: daniel (https://github.com/dansup) -->
            <section class="hero is-fullheight is-dark is-bold">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-vcentered">
                            <div class="column is-4 is-offset-4">
                                <div class="columns is-centered">
                                    <!-- Apple Music Sound Equalizer in SVG by Geoff Graham (https://codepen.io/geoffgraham/pen/XmMJqj) -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
                                        <g>
                                            <title>Audio Equalizer</title>
                                            <rect class="bar" transform="translate(0,0)" y="15"></rect>
                                            <rect class="bar" transform="translate(25,0)" y="15"></rect>
                                            <rect class="bar" transform="translate(50,0)" y="15"></rect>
                                            <rect class="bar" transform="translate(75,0)" y="15"></rect>
                                            <rect class="bar" transform="translate(100,0)" y="15"></rect>
                                        </g>
                                    </svg>
                                </div>
                                <h1 class="title has-text-centered"><span class="icon is-medium"><i class="fa fa-music rainbow-transition" aria-hidden="true"></i></span> Spieldose <span class="icon is-medium"><i class="fa fa-music rainbow-transition" aria-hidden="true"></i></span></h1>
                                <h2 class="subtitle is-6 has-text-centered"><cite>...music for the Masses</cite></h2>
                                <form id="f_signin" method="post" action="/api/user/signin.php" v-on:submit.prevent="submit">
                                    <div class="box">
                                        <label class="label">Username (login)</label>
                                        <p class="control" id="login-container" v-bind:class="{ 'has-icons-right' : invalidUsername }">
                                            <input class="input" type="text" name="login" value="foo" maxlength="32" required autofocus v-bind:class="{ 'is-danger': invalidUsername }" v-bind:disabled="xhr ? true: false">
                                            <span class="icon is-small is-right" v-show="invalidUsername"><i class="fa fa-warning"></i></span>
                                            <p class="help is-danger" v-show="invalidUsername">Username not found</p>
                                        </p>
                                        <label class="label">Password</label>
                                        <p class="control" id="password-container" v-bind:class="{ 'has-icons-right' : invalidPassword }">
                                            <input class="input" type="password" name="password" value="bar" required v-bind:class="{ 'is-danger': invalidPassword }" v-bind:disabled="xhr ? true: false">
                                            <span class="icon is-small is-right" v-show="invalidPassword"><i class="fa fa-warning"></i></span>
                                            <p class="help is-danger" v-show="invalidPassword">Invalid password</p>
                                        </p>
                                        <hr>
                                        <p class="control">
                                            <button type="submit" class="button is-primary" v-bind:class="{ 'is-loading': xhr }" v-bind:disabled="xhr ? true: false">Sign in</button>
                                        </p>
                                    </div>
                                </form>
                                <p class="has-text-centered">
                                    <a href="https://github.com/aportela/spieldose"><span class="icon is-small"><i class="fa fa-github"></i></span>Project page</a> |<a href="https://github.com/aportela/">by alex</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </script>
        <script type="text/x-template" id="spieldose-left-menu-sidebar-template">
            <ul id="menu">
                <li><a class="item" v-bind:class="{ 'active': section == '#/dashboard' }" href="#/dashboard" v-on:click="changeSection('#/dashboard')"><div><i class="fa fa-2x fa-home"></i>dashboard</div></a></li>
                <li><a class="item" v-bind:class="{ 'active': section == '#/artists' }" href="#/artists" v-on:click="changeSection('#/artists')"><div><i class="fa fa-2x fa-user"></i>browse artists</div></a></li>
                <li><a class="item" v-bind:class="{ 'active': section == '#/albums' }" href="#/albums" v-on:click="changeSection('#/albums')"><div><i class="fa fa-2x fa-file-audio-o"></i>browse albums</div></a></li>
                <li><a class="item" v-bind:class="{ 'active': section == '#/genres' }" href="#/genres" v-on:click="changeSection('#/genres')"><div><i class="fa fa-2x fa-tags"></i>browse genres</div></a></li>
                <li><a class="item" v-bind:class="{ 'active': section == '#/preferences' }" href="#/preferences" v-on:click="changeSection('#/preferences')"><div><i class="fa fa-2x fa-cog"></i>preferences</div></a></li>
                <li><a class="item" href="/api/user/signout.php" v-on:click.prevent="signout"><div><i class="fa fa-2x fa-sign-out"></i>signout</div></a></li>
            </ul>
        </script>
        <script type="text/x-template" id="spieldose-right-player-sidebar-template">
            <div id="player">
                <p id="now_playing_header"><span class="icon is-small"><i class="fa fa-music" aria-hidden="true"></i></span> NOW PLAYING <span class="icon is-small"><i class="fa fa-music" aria-hidden="true"></i></span></p>
                <img id="now_playing_image" v-bind:src="albumCoverUrl" />
                <div id="now_playing_info">
                    <span id="now_playing_song_title" title="">{{ title }}</span>
                    <span id="now_playing_song_time">{{ playtimeString }}</span>
                    <a id="now_playing_artist" v-bind:title="'click here to browse artist: ' + artist">{{ artist }} / {{ album }}</a>
                </div>
                <audio id="audio" ref="player" controls preload="none">
                    <source v-bind:src="trackUrl" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <div id="player_controls">
                    <i v-on:click.prevent="$parent.searchTracks(1)" title="repeat all" class="fa fa-refresh fa-lg"></i>
                    <i title="shuffle" class="fa fa-random fa-lg"></i>
                    <i id="crtl_play_previous" title="previous" class="fa fa-backward fa-lg"></i>
                    <i id="crtl_play_next" title="next" class="fa fa-forward fa-lg"></i>
                    <i title="mark as loved song" class="fa fa-heart fa-lg"></i>
                    <i title="download song" class="fa fa-save fa-lg"></i>
                </div>
                <ul id="now_playing_list">
                    <li class="selected" v-for="track, i in $parent.trackList"><a class="playlist_track" v-on:click="play(track)"><span title="Nightcall">{{ i + 1 }} - {{ track.title }}</span><span class="duration">{{ track.playtimeString }}</span></a></li>
                </ul>
            </div>
        </script>
        <script type="text/x-template" id="spieldose-template">
            <div class="columns is-gapless">
                <aside id="aside-menu" class="column is-1 hero is-fullheight is-hidden-mobile">
                    <spieldose-left-menu-sidebar-template-component></spieldose-left-menu-sidebar-template-component>
                </aside>
                <!-- dashboard template inspired by daniel (https://github.com/dansup) -->
                <div class="column is-9" id="main-content">
                    <div class="field has-addons">
                        <p class="control">
                            <span class="select">
                            <select>
                                <option>search on anything</option>
                                <option>search on track names</option>
                                <option>search on artist names</option>
                                <option>search on album names</option>
                            </select>
                            </span>
                        </p>
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="type search text condition">
                        </p>
                        <p class="control">
                            <a class="button">
                                <span class="icon is-small">
                                <i class="fa fa-search"></i>
                                </span>
                            <span>Search</span>
                            </a>
                        </p>
                    </div>
                    <section v-if="section == '#/dashboard'" class="section" id="section-dashboard">
                        <div class="columns is-mobile is-multiline">
                            <div class="column is-one-third-desktop is-full-mobile">
                                <section class="panel">
                                    <p class="panel-heading"><span class="icon"><i class="fa fa-pie-chart"></i></span> Top played tracks</p>
                                    <p class="panel-tabs">
                                        <a class="is-active" href="#">All Time</a>
                                        <a href="#">Past week</a>
                                        <a href="#">Past month</a>
                                        <a href="#">Past quarter</a>
                                        <a href="#">Past Year</a>
                                    </p>
                                    <div class="panel-block">
                                        <div id="chart1" style="height: 250px;"></div>
                                    </div>
                                </section>
                            </div>
                            <div class="column is-one-third-desktop is-full-mobile">
                                <section class="panel">
                                    <p class="panel-heading"><span class="icon"><i class="fa fa-area-chart"></i></span> Top Artists</p>
                                    <p class="panel-tabs">
                                        <a class="is-active" href="#">All Time</a>
                                        <a href="#">Past week</a>
                                        <a href="#">Past month</a>
                                        <a href="#">Past quarter</a>
                                        <a href="#">Past Year</a>
                                    </p>
                                    <div class="panel-block">
                                        <div id="chart1" style="height: 250px;"></div>
                                    </div>
                                </section>
                            </div>
                            <div class="column is-one-third-desktop is-full-mobile">
                                <section class="panel">
                                    <p class="panel-heading"><span class="icon"><i class="fa fa-bar-chart"></i></span> Top genres</p>
                                    <p class="panel-tabs">
                                        <a class="is-active" href="#">All Time</a>
                                        <a href="#">Past week</a>
                                        <a href="#">Past month</a>
                                        <a href="#">Past quarter</a>
                                        <a href="#">Past Year</a>
                                    </p>
                                    <div class="panel-block">
                                        <div id="chart1" style="height: 250px;"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="columns is-mobile is-multiline">
                            <div class="column is-one-third-desktop is-full-mobile">
                                <section class="panel">
                                    <p class="panel-heading"><span class="icon"><i class="fa fa-clock-o"></i></span> Recently added</p>
                                    <p class="panel-tabs">
                                        <a class="is-active" href="#">Tracks</a>
                                        <a href="#">Artists</a>
                                        <a href="#">Albums</a>
                                    </p>
                                    <div class="panel-block">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="panel-block">
                                        <div id="chart1" style="height: 168px;"></div>
                                    </div>
                                </section>
                            </div>
                            <div class="column is-one-third-desktop is-full-mobile">
                                <section class="panel">
                                    <p class="panel-heading"><span class="icon"><i class="fa fa-clock-o"></i></span> Recently played</p>
                                    <p class="panel-tabs">
                                        <a class="is-active" href="#">Tracks</a>
                                        <a href="#">Artists</a>
                                        <a href="#">Albums</a>
                                    </p>
                                    <div class="panel-block">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="panel-block">
                                        <div id="chart1" style="height: 168px;"></div>
                                    </div>
                                </section>
                            </div>
                            <div class="column is-one-third-desktop is-full-mobile">
                                <section class="panel">
                                    <p class="panel-heading"><span class="icon"><i class="fa fa-line-chart"></i></span> Play stadistics</p>
                                    <p class="panel-tabs">
                                        <a class="is-active" href="#">by hour</a>
                                        <a href="#">by day</a>
                                        <a href="#">by month</a>
                                    </p>
                                    <div class="panel-block">
                                        <div id="chart3" style="height: 250px;"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                    <section v-if="section == '#/artists'" class="section" id="section-artists">
                        <nav class="pagination is-centered">
                            <a class="pagination-previous" v-on:click.prevent="searchArtists(pager.previousPage)">Previous</a>
                            <a class="pagination-next" v-on:click.prevent="searchArtists(pager.nextPage)">Next page</a>
                            <ul class="pagination-list">
                                <!-- vuejs pagination by Jeff (https://stackoverflow.com/a/35706926) -->
                                <li v-for="pageNumber in pager.totalPages" v-if="Math.abs(pageNumber - pager.actualPage) < 3 || pageNumber == pager.totalPages - 1 || pageNumber == 0">
                                    <a href="#" v-on:click.prevent="searchArtists(pageNumber)" class="pagination-link" :class="{'is-current': pager.actualPage === pageNumber, last: (pageNumber == pager.totalPages - 1 && Math.abs(pageNumber - pager.actualPage) > 3), first:(pageNumber == 0 && Math.abs(pageNumber - pager.actualPage) > 3)}">{{ pageNumber+1 }}</a>
                                </li>
                            </ul>
                        </nav>
                        <!--
                        <div class="artist_item" v-show="pager.actualPage > 1"><a class="artist_pager" href="#" title="previous page" v-on:click.prevent="searchArtists(pager.actualPage - 1)"><i class="fa fa-arrow-left fa-4x"></i></a></div>
                        -->
                        <div class="artist_item" v-for="artist in artistList">
                            <a class="view_artist" v-bind:href="'api/artist/get.php?name=' + artist.name | encodeURI">
                                <img class="album_cover" v-if="artist.image" v-bind:src="artist.image" />
                                <img class="album_cover" v-else src="https://cdn2.iconfinder.com/data/icons/app-types-in-grey/128/app_type_festival_512px_GREY.png" />
                                <i class="fa fa-search fa-4x"></i>
                            </a>
                            <div class="artist_info">
                                <p class="artist_name">{{ artist.name }}</p>
                            </div>
                        </div>
                        <!--
                        <div class="artist_item" v-show="pager.actualPage < pager.totalPages"><a class="artist_pager" href="#" title="next page" v-on:click.prevent="searchArtists(pager.actualPage + 1)"><i class="fa fa-arrow-right fa-4x"></i></a></div>
                        -->
                    </section>
                    <section v-if="section == '#/albums'"class="section" id="section-albums">
                        <nav class="pagination is-centered">
                            <a class="pagination-previous" v-on:click.prevent="searchAlbums(pager.actualPage - 1)">Previous</a>
                            <a class="pagination-next" v-on:click.prevent="searchAlbums(pager.actualPage + 1)">Next page</a>
                            <ul class="pagination-list">
                                <!-- vuejs pagination by Jeff (https://stackoverflow.com/a/35706926) -->
                                <li v-for="pageNumber in pager.totalPages" v-if="Math.abs(pageNumber - pager.actualPage) < 3 || pageNumber == pager.totalPages - 1 || pageNumber == 0">
                                    <a href="#" v-on:click.prevent="searchAlbums(pageNumber)" class="pagination-link" :class="{'is-current': pager.actualPage === pageNumber, last: (pageNumber == pager.totalPages - 1 && Math.abs(pageNumber - pager.actualPage) > 3), first:(pageNumber == 0 && Math.abs(pageNumber - pager.actualPage) > 3)}">{{ pageNumber+1 }}</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="album_item" v-for="album in albumList">
                            <a class="play_album" href="api/album/get.php?id=">
                                <img class="album_cover" v-if="album.image" v-bind:src="album.albumCoverUrl"/>
                                <img class="album_cover" v-else="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                <i class="fa fa-play fa-4x"></i>
                                <img class="vynil no_cover" src="http://fc08.deviantart.net/fs17/f/2007/170/9/8/Vinyl_Disc_Icon_Updated_by_jordygreen.png" />
                            </a>
                            <div class="album_info">
                                <p class="album_name" title="">{{ album.name }}</p>
                                <p class="artist_name" title=""><a class="view_artist"  href="api/artist/get.php?id=">by {{ album.artist }} ({{ album.year }})</a></p>
                            </div>
                        </div>
                    </section>
                    <section v-if="section == '#/genres'"class="section" id="section-genres">
                    </section>
                    <section v-if="section == '#/preferences'"class="section" id="section-preferences">
                    </section>
                </div>
                <aside id="aside-player" class="column is-2">
                    <spieldose-right-player-sidebar-template-component></spieldose-right-player-sidebar-template-component>
                </aside>
            </div>
        </script>
		<script src="/static/scripts/vue.js"></script>
	</body>
</html>