/* signin page vu-meter effect */

.equilizer {
    height: 100px;
    width: 100%;
    transform: rotate(180deg);
}

.bar {
    fill: #dfd8d9;
    width: 18px;
    animation: equalize 1.25s steps(25, end) 0s infinite;
}

.bar:nth-child(1) {
    animation-duration: 1.9s;
}

.bar:nth-child(2) {
    animation-duration: 2s;
}

.bar:nth-child(3) {
    animation-duration: 2.3s;
}

.bar:nth-child(4) {
    animation-duration: 2.4s;
}

.bar:nth-child(5) {
    animation-duration: 2.1s;
}

@keyframes equalize {
    0% {
        height: 60px;
    }

    4% {
        height: 50px;
    }

    8% {
        height: 40px;
    }

    12% {
        height: 30px;
    }

    16% {
        height: 20px;
    }

    20% {
        height: 30px;
    }

    24% {
        height: 40px;
    }

    28% {
        height: 10px;
    }

    32% {
        height: 40px;
    }

    36% {
        height: 60px;
    }

    40% {
        height: 20px;
    }

    44% {
        height: 40px;
    }

    48% {
        height: 70px;
    }

    52% {
        height: 30px;
    }

    56% {
        height: 10px;
    }

    60% {
        height: 30px;
    }

    64% {
        height: 50px;
    }

    68% {
        height: 60px;
    }

    72% {
        height: 70px;
    }

    76% {
        height: 80px;
    }

    80% {
        height: 70px;
    }

    84% {
        height: 60px;
    }

    88% {
        height: 50px;
    }

    92% {
        height: 60px;
    }

    96% {
        height: 70px;
    }

    100% {
        height: 80px;
    }
}

/* signin page vu-meter effect */

/* signin page right block (album cover tile effect) */

div#container_tiles {
    box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
    background-color: #666;
    height: 100vh;
    overflow: hidden;
    filter: blur(6px);
    transition: filter 0.3s ease-in;
    opacity: 0.5;
}

/* signin page right block (album cover tile effect) */

/* app sidebar */

div#sidebar2 {
    width: 400px;
}

/* player (sidebar) */

div#player {
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.19), 0 6px 6px -10px rgba(0, 0, 0, 0.23);
}

div#album_cover img {
    width: 300px;
    height: 300px;
    display: block;
}

.active_button {
    color: #d30320;
}

.not_active_button {
    color: #888;
}

.body__cover {
    position: relative;
}

.body__cover img {
    width: 400px;
    height: 400px;
    display: block;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.body__buttons,
.body__info,
.player__footer {
    padding-right: 2rem;
    padding-left: 2rem;
}

.list--cover,
.list--footer {
    justify-content: space-between;
}

.list--header .list__link,
.list--footer .list__link {
    color: #888;
}

.list--cover {
    position: absolute;
    top: 0.5rem;
    width: 100%;
}

.list--cover li:first-of-type {
    margin-left: 0.75rem;
}

.list--cover li:last-of-type {
    margin-right: 0.75rem;
}

.list--cover a {
    font-size: 1.15rem;
    color: #fff;
}

.range {
    position: relative;
    top: -1.5rem;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
    width: 80%;
    height: 0.125rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.range:before,
.range:after {
    content: "";
    position: absolute;
    cursor: pointer;
}

.range:before {
    _width: 3rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(211, 3, 32, 0.5), rgba(211, 3, 32, 0.85));
    border-radius: 0.25rem;
    overflow: hidden;
}

.range:after {
    top: -0.375rem;
    _left: 3rem;
    z-index: 3;
    width: 0.875rem;
    height: 0.875rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.range:focus:after,
.range:hover:after {
    background: rgba(211, 3, 32, 0.95);
}



.body__info {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    text-align: center;
}

.info__album,
.info__song {
    margin-bottom: 0.5rem;
}

.info__artist,
.info__album {
    font-size: 0.75rem;
    font-weight: 300;
    color: #666;
}

.info__song {
    font-size: 1.15rem;
    font-weight: 400;
    color: #d30320;
}

.body__buttons {
    padding-bottom: 2rem;
}

.body__buttons {
    padding-top: 1rem;
}

.list--buttons {
    align-items: center;
    justify-content: center;
}

.list--buttons li:nth-of-type(n+2) {
    margin-left: 1.25rem;
}

.list--buttons a {
    padding-top: 0.45rem;
    padding-right: 0.75rem;
    padding-bottom: 0.45rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
}

.list--buttons a:focus,
.list--buttons a:hover {
    color: rgba(171, 2, 26, 0.95);
    opacity: 1;
    box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.list--buttons li:nth-of-type(2) a {
    /*
    padding-top: 0.82rem;
    padding-right: 1rem;
    padding-bottom: 0.82rem;
    padding-left: 1.19rem;
    margin-left: 0.5rem;
    */
    padding: 0.6rem 1.2rem;
    font-size: 1.25rem;
    color: rgba(211, 3, 32, 0.95);
}

.list--buttons li:first-of-type a,
.list--buttons li:last-of-type a {
    font-size: 0.95rem;
    color: #212121;
    opacity: 0.5;
}

.list--buttons li:first-of-type a:focus,
.list--buttons li:first-of-type a:hover,
.list--buttons li:last-of-type a:focus,
.list--buttons li:last-of-type a:hover {
    color: #d30320;
    opacity: 0.75;
}

.list__link {
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.list__link:focus,
.list__link:hover {
    color: #d30320;
}

.player__footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.list--footer a {
    opacity: 0.5;
}

.list--footer a:focus,
.list--footer a:hover {
    opacity: 0.9;
}

/*
            https://wikiki.github.io/form/slider/
        */
input[type="range"].slider.is-large:not([orient="vertical"]) {
    min-height: calc((1.5rem + 2px) * 1.25);
}

input[type="range"].slider.is-fullwidth {
    display: block;
    width: 100%;
}

input[type="range"].slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 1rem 0;
    background: transparent;
}

.slider {
    position: relative;
    width: 100%;
    color: #d30320;
}

input[type="range"].slider.is-circle::-moz-range-thumb {

    border-radius: 50%;

}

input[type="range"].slider::-moz-range-thumb {

    height: 1rem;
    width: 1rem;

}

input[type="range"].slider::-moz-range-thumb {

    box-shadow: none;
    border: 1px solid #b5b5b5;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: transform .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: -webkit-transform .2s ease;

}

input[type="range"].slider.is-success::-moz-range-track {

    background: #23d160;

}

input[type="range"].slider:not([orient="vertical"])::-moz-range-track {

    height: .5rem;

}

input[type="range"].slider:not([orient="vertical"])::-moz-range-track {

    width: 100%;

}

input[type="range"].slider::-moz-range-track {

    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #7a7a7a;
    background: #dbdbdb;
    border-radius: 4px;
    border: 0px solid #7a7a7a;

}

div#rotating_album_cover {
    display: block;
    width: 400px;
    height: 400px;
    background: url(../images/vinyl.png) no-repeat;
    background-size: auto;
    background-size: cover;

}

div.is_rotating_album_cover {
    animation: rotation 8s linear infinite;
    z-index: 1;
}

div#rotating_album_cover img {
    width: 130px;
    height: 130px;
    top: 136px;
    position: relative;
    margin-left: 137px;
    border-radius: 100%;
}

div#analyzer-container {
    z-index: 2;
    position: relative;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

/* player (sidebar) */

/* app sidebar */

table th, table td {
    white-space: nowrap;
    font-size: 0.9rem;
}

.table tr.is-selected {
    background: #d30320;   
    color: #fff;
}